* {
    margin: 0px;
    padding: 0px;
  }
  
  .section-main {
      background-image: url(assets/main-bg.jpg);
      background-size: cover;
      height: 920px;
  }
  
  .navbar {
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      font-size: 12px;
  }
  
  #navbarLogo {
      font-size: 24px;
  }